
/* this should be the font for all text on the webpage */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

/*
    applies imported font to all body text
*/
body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: darkgrey;
}

/*
    All text in paragraphs should be seagreen.
*/
p {
    color:black;
}

/*
    The background of all divs should be mistyrose.
 */
div {
    background-color: darkgrey;
}

h1 {
    text-align: center;
    color:white;
    font-size: 100px;
    font-weight: 1000;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    color:white;
    font-size: 40px;
    font-weight: 1000;
    margin-top: 0px;
}
h2 p {
    text-align: left;
    color: black;
    font-size: 40px;
    font-weight: 1000;
    margin-top: 20px;
    margin-bottom: 0px;
}
h3 {
    text-align: center;
    color:black;
    font-size: 20px;
    font-weight: 1000;
    margin-top: 0px;
}

h3 p {
    text-align: left;
    color:black;
    font-size: 20px;
    font-weight: 1000;
    margin-top: 0px;
}

#disclaimer-div {
    text-align: center;
    color: black;
    background-color: #BAD9D6;
}

#caption-div{
    text-align:center;
    color:black;
}



.background-image-class {
    background-image: url("images/musicnotes.jpeg");
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
    width: 100%;
    background-size: cover;
    color: white;
}


/*
    link turns black when hovered over
*/
a:hover {
    color:black;
}

li a:hover {
    color:white;
}

/*
    custom navbar based on style_sample
*/
.navbar ul {
    /*
        Remove bullet points.
    */
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #BAD9D6;
    text-align: center;
}

/*
    Style individual list items.
*/
.navbar li {
    width: 30%;
    background-color: #BAD9D6;
    border: none;
    /*
        Show the navbar elements next to each other instead of on top of each
        other.
    */
    padding: 0px;
    display: inline-block;
    line-height: 40px;
}

/*
    Style links in navbar.
*/
.navbar a {
    color:black;
    text-decoration: none;
}

.boxed {
  border: 1px solid #BAD9D6 ;
  outline: 2px solid #BAD9D6;
  text-align: center;
}

table, td {
    border: 1px solid gray;
}

input {
    /*
        Show different input on top of each other instead of next to each other.
    */
    display: block;
}

/*
    Style iframes.
*/
iframe {
    margin: 10px auto;
    border: dotted;
    display: block;
    border-radius: 12px;
}

.flex-container {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    background-color: darkgrey;
    border: dotted;
    border-color:black;
    justify-content: center;
    margin:auto
  }
