
/* this should be the font for all text on the webpage */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

/*
    applies imported font to all body text
*/
body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

/*
    All text in paragraphs should be seagreen.
*/
p {
    color:seagreen;
}

/*
    The background of all divs should be mistyrose.
 */
div {
    background-color: darksalmon;
}


/*
    You can refer in Style Sheets to classes using the dot .
*/
.padding-color-class {
    /*
        Instead of color names you can also use hexdecimal values. The lower the
        number, the darker.
    */
    background-color: #000000;
    /*
        You can also give colors in RGB values (0 to 255). If you are expecting
        older browsers using your site, refrain from using RGB formatting.
    */
    color: rgb(100, 168, 200);
}

.background-image-class {
    background-image: url(https://placeimg.com/400/200/any); background-repeat: no-repeat;
    color: white;
}

.css-box-model-class {
    /*
        Demonstrates the CSS Box Model
    */
    border-width: 2px;
    /*
        In order to see the border, you will need a border style.
     */
    border-style: dotted;
    /*
        You can add a margin to all four borders. If there is only one value,
        all borders are affected You can specify in clockwise order:
        top, right, bottom, left.
    */
    margin: 10px 5px 15px 25px;
    /*
        While margins are at the outside of the border, paddings are at the
        inside. You can specify a single value for all four margins, but you
        could also specify the padding individually the as for the margins.
    */
    padding: 50px;
}

/*
    Links can be styled with CSS as well. There are four states:
    link (original state), visited, hover, active (on click).
    For example, on hover, change the link color to green. Also, hover can be
    applied to divs.
*/
a:hover {
    color:green;
}

/*
    For your custom navbar, you can specify the unorderd list style.
*/
.navbar ul {
    /*
        Remove bullet points.
    */
    list-style: none;
    width: 100%;
    margin: 0 auto;
    /*
        No padding.
    */
    padding: 0;
    /*
        For navbars use background color that stands out.
    */
    background-color: darksalmon;
    text-align: center;
}

/*
    Style individual list items.
*/
.navbar li {
    width: 33%;
    background-color:darksalmon;
    border: 1px solid oldlace;
    /*
        Show the navbar elements next to each other instead of on top of each
        other.
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

/*
    Style links in navbar.
*/
.navbar a {
    color:#fff;
    text-decoration: none;
}

table, td {
    border: 1px solid gray;
}

input {
    /*
        Show different input on top of each other instead of next to each other.
    */
    display: block;
}

/*
    Style iframes.
*/
iframe {
    width:100%;
    height:100%;
    border: dotted;
}
/* code added from exercise */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
  }

.flex-container > div {
    background-color: grey;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
